# Virtual Environment
.venv/
.venv-*/
venv/
ENV/

# Environment Variables
.env
*.env

# Data Files & Datasets
data/
*.csv

# Python / Jupyter artifacts
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# IDE / OS junk
.DS_Store
.vscode/
.idea/
